@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Contact Us Here</h3>

<ul>
    <li>Contact NO : 98888823</li>
    <li>Email : Supportdesk@xy.com</li>
    <li>Adress : New Town,Johannesburg,SA-44444</li>
</ul>