@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>FIS wins Navex Global Award. The first annual Ethics & Compliance award. Read more See all. WE LIFT ECONOMIES AND COMMUNITIES BY ADVANCING THE WAY THE WORLD PAYS, BANKS AND INVESTS</p>
<img src="C:\\Users\\Administrator\\Downloads\\downlojad.png" />
<img src="https://cdn.contactcenterworld.com/images/company/fis-global-1200px-logo.jpg" />
