@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Departments</h3>
<ol>
    <li>SWE</li>
    <li>Tester</li>
    <li>Production</li>
    <li>Support</li>
    <li>Finance</li>
</ol>