@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <style>
        table
        {
            font-family:'Times New Roman', Times, serif;
            border-collapse:collapse;
            width:100%;
        }
        td,th
        {
            border : 1px solid #dddddd;
            text-align : center;
            padding : 10px;
        }
    </style>
<body>
<h3>Employee Details</h3>
<table style="width:100%">
    <tr>
        <th>E_Id</th>
        <th>E_Name</th>
        <th>Job</th>
        <th>Salary</th>
        <th>Dept_NO</th>
    </tr>
    <tr>
        <td>1</td>
        <td>John</td>
        <td>SWE</td>
        <td>30000</td>
        <td>12</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Siya</td>
        <td>Production</td>
        <td>20000</td>
        <td>16</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Ram</td>
        <td>Tester</td>
        <td>25000</td>
        <td>14</td>
    </tr>
    
</table>
</body>
</html>
